@mixin blur($amount) {
    backdrop-filter: blur($amount);
    -webkit-backdrop-filter: blur($amount);
}

@mixin font-title {
    font-family: "Julius Sans One", "Noto Sans JP", "Noto Sans Chinese Bold", sans-serif;
    font-weight: bold;
}

@mixin font-header {
    font-family: "Noto Sans JP Bold", "Noto Sans Chinese Bold", sans-serif;
    font-weight: bold;
}

@mixin font-body {
    font-family: "IBM Plex Sans JP", "Noto Sans Chinese", sans-serif;
}

@mixin font-serif {
    font-family: "appliMincho", serif;
}

@mixin no-support-background-blur($color) {
    @supports not (backdrop-filter: blur(1px)) {
        background-color: $color;
    }
}

@mixin blur-background {
    background-color: $transparent-bg;
    @include blur(16px);
}

@mixin font-size {
    font-size: $fontSize;
}

@mixin small-device-font {
    @media screen and (max-height: 540px) {
        font-size: $smallFontSize;
        line-height: $smallLineHeight;
    }
}

@mixin small-device-font-big {
    @media screen and (max-height: 540px) {
        font-size: 24px;
        line-height: 32px;
    }
}

@mixin ozma-background {
    background-image: $ozma;

    /* linear-gradient(31deg,
        rgba(236, 20, 20, 1) 0%, rgba(255, 227, 0, 1) 17%,
        rgba(37, 255, 0, 1) 25%, rgba(29, 253, 170, 1) 41%,
        rgba(26, 138, 250, 1) 59%, rgba(138, 23, 248, 1) 81%,
        rgba(244, 61, 204, 1) 100%); */
}

@mixin chamfered {
    clip-path: $chamferedClip;
}

$chamferedClip: polygon(0 0, calc(100% - 8px) 0, 100% 8px, 100% 100%, 8px 100%, 0 calc(100% - 8px));
$pageBackgroundColor: #14141e;
$inputBackgroundColor: #414040;
$inputForegroundColor: #36393f;
$backgroundSubColor: #25282c;
$grayBackgrund: rgb(114, 116, 117);
$transparent-bg: rgb(7, 8, 14, 0.75);
$black: rgb(7, 8, 14);
$accentColor: #1189da;
$clickedAccentColor :#116fda;
$textColor: #f5f5f5;
$secondaryText: #a0a0a0;
$blackTextColor: #080e14;
$borderColor: #f5f5f5;
$red: rgb(202, 28, 28);
$redSecondary: #ca1c1c;

$fontSize: 16px;
$smallFontSize: 14px;
$smallLineHeight: 14px;

$memory: rgb(139, 221, 17);
$advance: rgb(226, 195, 21);
$prospects: rgb(89, 10, 192);
$ozma: linear-gradient(45deg,
        hsl(0, 100%, 50%), hsl(40, 100%, 50%),
        hsl(80, 100%, 50%), hsl(120, 100%, 50%),
        hsl(160, 100%, 50%), hsl(200, 100%, 50%),
        hsl(240, 100%, 50%), hsl(280, 100%, 50%),
        hsl(320, 100%, 50%))