@mixin blur($amount) {
    backdrop-filter: blur($amount);
    -webkit-backdrop-filter: blur($amount);
}

@mixin font-title {
    font-family: "Julius Sans One", "IBM Plex Sans JP", sans-serif;
    font-weight: bold;
}

@mixin font-header {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: bold;
}

@mixin font-body {
    font-family: "IBM Plex Sans JP", sans-serif;
}

@mixin font-gameText {
    font-family: "Rajdhani Regular", helvetica, sans-serif;
}

@mixin font-serif {
    font-family: "appliMincho", serif;
}

@mixin no-support-background-blur($color) {
    @supports not (backdrop-filter: blur(1px)) {
        background-color: $color;
    }
}

@mixin blur-background {
    background-color: $transparent-bg;
    @include blur(16px);
}

@mixin font-size {
    font-size: $fontSize;
}

@mixin small-device-font {
    @media screen and (max-height: 540px) {
        font-size: $smallFontSize;
        line-height: $smallLineHeight;
    }
}

@mixin small-device-font-big {
    @media screen and (max-height: 540px) {
        font-size: 24px;
        line-height: 32px;
    }
}

@mixin ozma-background {
    background-image: $ozma;

    /* linear-gradient(31deg,
        rgba(236, 20, 20, 1) 0%, rgba(255, 227, 0, 1) 17%,
        rgba(37, 255, 0, 1) 25%, rgba(29, 253, 170, 1) 41%,
        rgba(26, 138, 250, 1) 59%, rgba(138, 23, 248, 1) 81%,
        rgba(244, 61, 204, 1) 100%); */
}

@mixin chamfered {
    clip-path: $chamferedClip;
}

$chamferedClip: polygon(0 0, calc(100% - 8px) 0, 100% 8px, 100% 100%, 8px 100%, 0 calc(100% - 8px));
$pageBackgroundColor: rgb(20, 20, 30);
$inputBackgroundColor: rgb(65, 64, 64);
$inputForegroundColor: rgb(51,54,63);
$backgroundSubColor: rgb(37,40,44);
$grayBackgrund: rgb(114, 116, 117);
$transparent-bg: rgb(7, 8, 14, 0.75);
$cardBackground: rgba(73, 73, 96, 0.5);
$floatBackground: rgb(42, 42, 57);
$black: rgb(7, 8, 14);
$accentColor: rgb(17,137,218);
$clickedAccentColor: rgb(17,95,218);
$textColor: rgb(245,245,245);
$secondaryText: rgb(160,160,160);
$blackTextColor: rgb(8,14,20);
$borderColor: rgb(245,245,245);
$red: rgb(202, 28, 28);
$redSecondary: rgb(202,28,28);


$fontSize: 16px;
$smallFontSize: 14px;
$smallLineHeight: 14px;

$memory: rgb(139, 221, 17);
$advance: rgb(226, 195, 21);
$prospects: rgb(89, 10, 192);
$ozma: linear-gradient(45deg,
        hsl(0, 100%, 50%), hsl(40, 100%, 50%),
        hsl(80, 100%, 50%), hsl(120, 100%, 50%),
        hsl(160, 100%, 50%), hsl(200, 100%, 50%),
        hsl(240, 100%, 50%), hsl(280, 100%, 50%),
        hsl(320, 100%, 50%));
$prostage:rgb(160,40,40)