@import "../../../Assets/mixin.scss";

.titlepage {
    position: relative;
        height: 100%;
        width: 100%;
}

.background{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(1.5);
}

//new years update
.canvas{
    transform:rotateZ(180deg);
    background-image: linear-gradient(to bottom, silver, whitesmoke 10%, transparent 20%,transparent 60%, #99cbf0);
}