@import "../../../../Assets/mixin.scss";

.container {
    height: 100%;
}


.details {
    height: 100%;
    padding: 48px 32px;
    display: grid;
    align-items: center;
    row-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 56px 32px 24px 1fr 96px;
    min-width: 0;

    @media screen and (max-height: 540px) {
        grid-template-rows: 32px 24px 16px 1fr 64px;
        row-gap: 8px;
        padding: 8px 24px;
    }

    @media screen and (max-width: 1200px) {
        padding: 24px 0;
    }


    h1 {
        padding: 8px;
        margin: 0;
        @include font-body;
        line-height: 48px;
        background-image: linear-gradient(to right, black, transparent);
        text-shadow: 0 0 4px $textColor;
        clip-path: polygon(16px 0, 100% 0, 100% 100%, 0 100%, 0 16px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include small-device-font-big;
    }

    p {
        margin: 0;
        padding: 0 8px;
        @include font-body;
        @include small-device-font;
        line-height: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .license {
            font-size: 12px;
            line-height: 12px;
        }
    }

    h2 {
        margin: 0;
        padding: 0 8px;
        @include font-body;
        line-height: 32px;

        @media screen and (max-height: 540px) {
            line-height: 24px;
        }
    }

    .image {
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.5;
    }

    .selections {

        .solo {
            height: 100%;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr;
            column-gap: 16px;
            align-items: center;
            min-width: 0;
        }

        .multi {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            button {
                width: 80%;
            }

        }


        button {
            display: inline-block;
            height: 48px;
            line-height: 24px;
            font-weight: 900;
        }

        .diffbtn:hover {
            background-color: $accentColor;
            background-image: none;

            &::before {
                transition: 0.2s;
            }
        }

        .memory {
            background-color: $memory;

            &:hover {
                &::before {
                    background-color: $memory;
                }
            }
        }

        .advance {
            background-color: $advance;

            &:hover {
                &::before {
                    background-color: $advance;
                }
            }
        }

        .prospects {
            background-color: $prospects;

            &:hover {
                &::before {
                    background-color: $prospects;
                }
            }
        }

        .ozma {
            @include ozma-background;

            &::before {
                background-image: none;
            }

            &:hover {
                &::before {
                    @include ozma-background;
                }
            }
        }

        .prostage {
            background-color: $prostage;

            &:hover {
                &::before {
                    background-color: $prostage;
                }
            }
        }

        .disabled {
            pointer-events: none;
            filter: brightness(0.5);
        }
    }

}