@import "../../Assets/mixin.scss";

.horizonalSelect {
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-template-rows: 38px;
    max-height: 40px;
    border: 1px solid whitesmoke;

    .arrowBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $borderColor;
        height: 100%;
        transition: 0.2s;

        &:hover {
            border: 1px solid $accentColor;
            color: $accentColor;
        }
    }

    .label {
        display: grid;
        grid-template-rows: 28px 12px;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;

        span {
            line-height: 28px;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .indexPoint {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-rows: 1fr;
            grid-auto-columns: 1fr;
            grid-auto-flow: column;
            align-items: center;
            justify-items: center;

            div {
                width: 100%;
                height: 8px;
                background-color: $inputForegroundColor;

                &[data-index="true"] {
                    background-color: $accentColor;
                }
            }
        }
    }
}