@import "../../../Assets/mixin.scss";

.settingspage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    @include blur (16px);
    .settings{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: minmax(120px,15%) 1fr;
        grid-template-rows: 1fr;
    }
    .sidebar{
        height: 100%;
        width: 100%;
        padding: 4px;
        background-color: rgba(17,137,218,0.2);

        .sidebar_content{
            display: block;
            padding: 4px;
            transition: 0.2s;
            clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 8px, 100% 100%, 8px 100%, 0 calc(100% - 8px));
            &:hover{
                background-color: $accentColor;
            }
        }
    }
    .content{
        position: relative;
    }
}