@import "../../Assets/mixin.scss";

.terms_window {
    pre {
        @include font-body;
        font-size: 0.8em;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
    .interaction_wrapper {
        display: flex;
        justify-content: right;
        align-items: center;
        .interaction{
            display: grid;
            grid-template-columns: repeat(2, 128px);
            grid-template-rows: 1fr;
            align-items: center;
        }
    }
}