.keylist{
    span{
        display: block;
        padding: 1px;
        &:hover{
            padding: 0;
            outline: none;
            border: 1px solid #1189da;
        }
        &:active, &:focus{
            padding: 0;
            outline: none;
            border: 1px solid darkorange;
        }
    }
}