@import "../../../../Assets/mixin.scss";

.musiclistcontent {
    transition: 0.2s;
    height: 72px;
    background-color: $textColor;
    @include blur(16px);
    clip-path: polygon(0 0, calc(100% - 16px) 0, 100% 24px, calc(100% - 32px) 100%, 0 100%);
    position: relative;
    left: -32px;
    margin: 0;


    &:hover,&.selected {
        left: 0 !important;
        background-color: $accentColor;
    }

    @media screen and (max-height: 540px) {
        height: 48px;
        clip-path: polygon(0 0, calc(100% - 6px) 0, 100% 11px, calc(100% - 18px) 100%, 0 100%);
    }

    img {
        position: relative;
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        margin: 2px;
        margin-left: 0;
        object-fit: cover;
        filter: brightness(0.2);
        clip-path: polygon(0 0, calc(100% - 20px) 0, calc(100% - 5px) 22px, calc(100% - 36px) 100%, 0 100%);

        @media screen and (max-height:540px) {
            clip-path: $chamferedClip !important;
        }
    }

    .text {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 24px 1fr;
        align-items: center;

        @media screen and (max-height: 540px) {
            grid-template-rows: 12px 1fr;
        }

        h3 {
            background-image: linear-gradient(to right, rgb(9, 26, 51), rgba(0, 0, 0, 0));
            height: calc(100% - 4px);
            display: flex;
            align-items: center;
            padding-left: 84px;
            padding-right: 32px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            font-size: 1.5em;
            grid-row: 2;
            @include font-title;
            
        }
    }
}