@import "../../../App/mixin.scss";

.navigatorOverlay {
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 0.2s;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }

    p,
    button,
    input {
        display: table;
        margin: 0;
        background-color: $transparent-bg;
        color: $secondaryText;
        font-size: 0.6em;
        padding: 2px 4px;
        font-family: 'Courier New', Courier, monospace;
    }

    .navigator {
        display: flex;
        column-gap: 2px;
    }

    input {
        height: auto;
        font-size: 0.6em;
        box-shadow: 0 0 4px 0 $borderColor;
        pointer-events: visible;

        &:hover {
            box-shadow: 0 0 4px 0 $accentColor;
        }

        &:focus-visible {
            box-shadow: 0 0 4px 0 $activeColor;
        }
    }

    button {
        pointer-events: visible;

        &:hover {
            box-shadow: 0 0 4px 0 $accentColor;
        }

        &:focus-visible {
            box-shadow: 0 0 4px 0 $activeColor;
        }
    }
}