@import "../../../App/mixin.scss";

.generalOverlay {
    position: absolute;
    top: 0;
    left: 0;

    p,
    button {
        display: table;
        margin: 0;
        background-color: $transparent-bg;
        color: $secondaryText;
        font-size: 0.6em;
        padding: 2px 4px;
        font-family: 'Courier New', Courier, monospace;
    }

    button {
        pointer-events: visible;
        &:hover {
            box-shadow: 0 0 4px 0 $accentColor;
        }

        &:focus-visible {
            box-shadow: 0 0 4px 0 $activeColor;
        }
    }
}