@import "../../../Assets/mixin.scss";

.chartConverter {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 48px 1fr;
    grid-template-columns: 1fr;
    @include blur-background;

    a {
        color: $accentColor;
    }

        button {
            display: flex;
            align-items: center;
    
            label {
                width: 100%;
            }
        }

    .convert {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 20% 1fr;

        .input,
        .output {
            padding: 16px;
            display: grid;
            grid-template-rows: 80% 1fr;
            grid-template-columns: 1fr;
        }

        .content {
            display: grid;
            grid-template-rows: 48px 1fr;
            grid-template-columns: 1fr;

            .fileInput {
                visibility: hidden;
                pointer-events: none;
            }
        }

        .selectType {
            padding: 16px 0;
            display: grid;
            grid-template-rows: 48px repeat(3, 1fr);
            grid-template-columns: 1fr;
        }

        .convetBtn {
            display: block;
            width: 100%;
        }
    }

}