@import "../../../Assets/mixin.scss";

.settings_content_wrapper{
    position: absolute;
    padding: 4px;
    height: 100%;
    width: 100%;
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 56px 1fr;

    h1{
        margin: 4px;
        line-height: 48px;
        @include font-header;
    }
    .content{
        display: grid;
        width: 100%;
        height: calc(100% - 56px);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        column-gap: 16px;
        overflow-y: auto;
        /* @media (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            .details{
                display: none;
            }
        } */

        .details * {
            max-width: 100%;
        }

        &.full{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            .details{
                display: none;
            }
        }

        .list{
            overflow-y: auto;
            .list_item{
                padding: 1px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                margin: 4px;
                h4{
                    margin: 8px 4px;
                }

                &:hover{
                    padding: 0;
                    border-radius: 4px;
                    border: 1px solid #1189da;
                }

            }
        }



    }
}