@import "../../../../Assets/mixin.scss";

.menupage {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-auto-rows: 48px 1fr;

    .menu {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 100%;
        padding: 16px 0;

        .left,.right {
            height: 72px;
            margin: 16px 0;
            position: relative;
            transition: 0.2s;
            color: white;
            text-decoration: none;
            display: flex;
            font-size: 36px;
            line-height: 36px;
            @include font-body;
            font-weight: bold;
            @include small-device-font-big;

            @media screen and (max-height:540px) {
                height: 48px;
            }

            //new years update
            border-top: 6px solid $borderColor;
        }

        .left {
            clip-path: polygon(0 0, 80% 0, calc(80% - 48px) 100%, 0 100%);
            background: linear-gradient(to right, rgb(9, 26, 51), #0e4f7a);
            left: -32px;
            padding-left: 64px;
            align-items: center;

            &:hover {
                left: -16px;
                background: linear-gradient(to right, rgb(11, 32, 63), #0e68a3);
                filter: brightness(1.5);
            }
            &:active {
                left: 0;
                filter: brightness(1.75);
            }

        }

        .right {
            clip-path: polygon(20% 0, 100% 0, 100% 100%, calc(20% + 48px) 100%);
            background: linear-gradient(to left, rgb(7, 39, 17), #025216);
            right: -32px;
            padding-right: 64px;
            flex-direction: row-reverse;
            align-items: center;
            justify-items: right;

            &:hover {
                right: -16px;
                background: linear-gradient(to left, rgb(7, 39, 18), #05680d);
                filter: brightness(1.5);
            }
            &:active {
                right: 0;
                filter: brightness(1.75);
            }
        }
    }
}

//new years update
.canvas {
    position: absolute;
    top:0;
    z-index: -1;
    pointer-events: none;
    transform: rotateZ(180deg);
    background-image: linear-gradient(to bottom, silver, whitesmoke 10%, transparent 20%, transparent 60%, #99cbf0);
}