@import "../../Assets/mixin.scss";

.errorPage {
    * {
        min-height: 0;
    }

    .errorDetails {
        padding: 8px;
        display: grid;
        grid-template-rows: 48px 32px 40px 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow-x: hidden;

        .errorMessage {
            display: grid;
            grid-template-rows: 32px 36px 2px 1fr;
            grid-template-columns: 1fr;
            height: 100%;
            width: 100%;

            hr {
                margin: 0;
            }

            .stackTraces {
                display: grid;
                grid-template-rows: 1fr 2px auto;
                grid-template-columns: repeat(2, 1fr);
                height: 100%;
                width: 100%;

                .trace,
                .rawTrace {
                    white-space: pre;
                    overflow: auto;
                }
            }
        }
    }

}

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $transparent-bg;

    .inner {
        background-color: $floatBackground;
        border: 1px solid $backgroundSubColor;
        border-radius: 8px;
        min-width: 40%;
        overflow: hidden;

        .titleBar {
            height: 24px;
            line-height: 24px;
            background-color: $black;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 24px;

            .closebtn {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 4px;
                transition: 0.2s;
                &:hover{
                    background-color: $redSecondary;
                }
            }
        }
    }

    .interaction {
        display: flex;
        justify-content: flex-end;
    }
}

code {
    display: block;
    background-color: $inputBackgroundColor;
    font-family: "consolas", monospace, sans-serif;
    line-height: 24px;
    overflow: auto;
}

button {
    min-width: 128px;
}