@import "../../Assets/mixin.scss";

.rangeinput_wrapper {
    display: grid;
    grid-template-columns: 1fr 64px;
    grid-row: 1fr;
    align-items: center;
    height: 40px;

    .rangeinput {
        appearance: none;
        background-color: $inputBackgroundColor;
        border: 1px solid $borderColor;

        &.tiny {
            height: 4px;
        }

        &.fit {
            height: 24px;
        }

        &.large {
            height: 36px;
        }

        &::-webkit-slider-thumb {
            appearance: none;
            width: 8px;
            height: 24px;
            display: block;
            background-color: $accentColor;
            border-radius: 0;

            &:hover {
                background-color: $clickedAccentColor;
            }
        }

        &::-moz-range-thumb {
            appearance: none;
            width: 8px;
            height: 24px;
            display: block;
            background-color: $accentColor;
            border-radius: 0;

            &:hover {
                background-color: $clickedAccentColor;
            }
        }
    }

    .rangeinput_number {
        appearance: none;
        -moz-appearance: textfield;
        background-color: transparent;
        color: whitesmoke;
        text-align: center;
        border: none;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }
    }
}