.resultPage{
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 48px 1fr;
    height: 100%;
    width: 100%;
    .resultData {
            padding: 16px;
            display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 104px 32px 1fr;
    
            .title {
                p {
                    padding-left: 64px;
                    margin: 8px 0;
                }
    
                h1 {
                    text-align: center;
                    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
                    text-shadow: #5e5e5e 4px 4px 4px;
                    margin: 0;
                }
            }
            .summary{
                display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: 140px 1fr;
                .bigvalue{
                    border:1px solid #1189da;
                    span {
                        text-align: center;
                        text-shadow: #5e5e5e 4px 4px 4px;
                        font-size: 1.5em;
                    }
                
                    h1 {
                        text-align: center;
                        text-shadow: #5e5e5e 4px 4px 4px;
                        margin: 0;
                    }
                }
            }
        }
}