.scenechanger{
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        color: whitesmoke;
        z-index: 100;

    .blue {
        clip-path: polygon(0 0, 15% 0%, 85% 100%, 0% 100%);
        background: radial-gradient(ellipse farthest-corner at 0 0, rgb(6, 14, 26), rgb(6, 6, 26), #161518, rgb(7, 7, 78));
        height: 100%;
        position: relative;
        left: 0;
        top: 0;
    }

    .green {
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 85% 100%);
        background: radial-gradient(ellipse farthest-corner at 0 0, rgb(16, 63, 30), #013f11, rgb(4, 19, 3), rgb(6, 41, 10));
        height: 100%;
        position: relative;
        top: -100%;
        right: 0;
    }
}