@import "../../../../../Assets/mixin.scss";

.editorRenderer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 48px 1fr;
    grid-template-columns: 48px 1fr;
    min-height: 0;

    .sideBar {
        grid-row: 2;
        grid-column: 1;
    }

    .toolBar {
        grid-row: 1;
        grid-column: 2;
        display: flex;
        gap: 16px;

        .toolBarContent{
            height: 48px;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: auto 1fr;
            align-items: center;
            column-gap: 8px;
        }
    }

    .canvasContainer {
        grid-row: 2;
        grid-column: 2;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

.editorCanvas {
    position: relative;
    height: 100%;

    .vLineContainer {
        position: relative;
        height: calc(100% - 16px);
        top: 8px;
        left: 0;

        .verticalLine {
            position: absolute;
            height: 100%;
            margin: 0;
            top: 0;

            &.base {
                width: 2px;
                background-color: #aaaaaa;
            }

            &.nonBase {
                width: 1px;
                background-color: #909090;
            }

            .indexText {
                font-size: 12px;
                margin-left: 6px;
                color: #aaaaaa;
            }
        }
    }
}