@import "../../../Assets/mixin.scss";

.chartEditor {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 48px 1fr 20px;

    .head {
        display: grid;
        grid-template-columns: auto 1fr auto repeat(3, 148px);
        grid-template-rows: 1fr;
        align-items: center;
        gap: 8px;
        padding: 0 8px;
        background-color: $backgroundSubColor;

        h2 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .modeSelect {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            align-items: center;
            text-align: center;
            height: 40px;
            margin-top: 8px;
            gap: 8px;

            .tabContent {
                flex: 1 1;
                transition: 0.2s;
                height: 100%;
                padding: 0 4px;
                border-radius: 4px 4px 0 0;
                line-height: 40px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                background-color: $grayBackgrund;

                &:hover {
                    background-color: $inputForegroundColor;
                }

                &:active {
                    filter: brightness(0.8);
                }

                &[data-selected="true"] {
                    background-color: $accentColor;
                }
            }
        }

        .headButton {
            margin: 4px;
            display: grid;
            grid-template-columns: 40px auto;
            grid-template-rows: 1fr;
            align-items: center;
            border: none;
            border-radius: 4px;
            transition: 0.2s;
            color: $textColor;
            box-shadow: 0 0 4px 2px black;

            &:active {
                filter: brightness(0.8);
            }
        }

        .testplay {
            background-color: rgb(19, 196, 42);

            &:hover {
                background-color: rgb(27, 172, 46);
            }
        }

        .export {
            background-color: $inputBackgroundColor;

            &:hover {
                background-color: $accentColor;
            }
        }

        .save {
            background-color: $inputBackgroundColor;

            &:hover {
                background-color: $inputForegroundColor;
            }
        }
    }

    .footer {
        background-color: $accentColor;
        padding: 0 16px;
        display: flex;

        span {
            height: 20px;
            line-height: 20px;
            font-size: 12px;
        }
    }

    .editorWrapper {
        padding: 16px;
        max-height: 100%;
        width: 100%;
        min-height: 0;
        @include blur-background;
        @include no-support-background-blur($transparent-bg);
    }
}

.iconWrapper {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}