@import "../../Assets/mixin.scss";

.headbar {
    background-color: rgba(245, 245, 245, 0.5);
    @include blur(16px);
    @include no-support-background-blur($borderColor);

    color: $blackTextColor;
    text-shadow: 0 0 4px $borderColor;
    padding: 0 16px;
    display: grid;
    grid-template-columns: 48px auto 1fr auto repeat(2, 48px);
    grid-template-rows: 1fr;
    align-items: center;
    column-gap: 8px;

    height: 48px;

    h4 {
        margin: 0;
        @include font-title;
        font-size: 1.25em;
        /*         @include small-device-font; */
    }

    .wsStateWrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            height: 16px;
            width: 16px;
            border-radius: 50%;
        }

        .online {
            background-color: rgb(75, 175, 75);
        }

        .offline {
            background-color: #a0a0a0;
        }
    }
}

.icon_wrapper {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        transition: 0.3s;
        margin: 0 auto;
        transform: scale(1);

        &:hover {
            fill: $accentColor;
            color: $accentColor;
            transform: scale(1.5);
        }
    }
}