@import "../../App/mixin.scss";

.generalOverlay {
    height: 100%;
    width: 100%;
    p {
        display: inline-block;
        margin: 0;
        background-color: $transparent-bg;
        color: $secondaryText;
        font-size: 0.6em;
        font-family: 'Courier New', Courier, monospace;
    }
}