@import "../../../App/mixin.scss";

.largeButton {
    appearance: none;
    color: $textColor;
    height: 100%;
    width: 50%;
    padding: 0 16px;
    margin-left: 4px;
    background-color: transparent;
    background-image: linear-gradient(to right, $inputBackgroundColor, $transparent-bg);
    border-radius: 4px;
    border: 1px solid $darkBorder;
    display: flex;
    align-items: center;
    transition: 0.2s;

    &:hover {
        background-color: $inputForegroundColor;
        box-shadow: 0 0 4px 2px $borderColor;
    }

    &:active {
        filter: brightness(0.8);
        transform: scale(0.99);
        box-shadow: 0 0 4px 2px $accentColor;
    }

    &:focus-visible {
        box-shadow: 0 0 4px 2px $activeColor;
    }
}