@import "../../../Assets/mixin.scss";

.editorStart {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 1fr;

    * {
        min-width: 0px;
        min-height: 0px;
    }
}

.startPage {
    height: 100%;
    width: 100%;
    padding: 16px;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr;
    @include blur-background;


    .projectSelect {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .newproject,
    .allproject {
        height: 100%;
        width: 100%;
        padding: 16px;
        overflow: auto;

        .contentWrapper {
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }

    .projectCard {
        height: 128px;
        width: 75%;
        margin: 8px;
        padding: 8px;
        border: 1px solid $borderColor;
        background-color: $backgroundSubColor;
        transition: 0.2s;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 26px 48px 36px;

        h2,p{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:hover {
            border-color: $accentColor;
            background-color: $inputBackgroundColor;
        }
    }

    .newprojectCard {
        height: 64px;
        width: 75%;
        margin: 8px;
        padding: 8px;
        border: 1px solid $borderColor;
        background-color: $backgroundSubColor;
        transition: 0.2s;
        
        h2{
            @include font-body;
        }

        &:hover {
            border-color: $accentColor;
            background-color: $inputBackgroundColor;
        }

    }
}