@import "./mixin.scss";

a {
    text-decoration: none;
    color: whitesmoke;
    cursor: url("../Assets/Images/pointer.cur"), default;
    user-select: none;
}

form,
select,
input,
textarea,
button,
label {
    cursor: inherit;
    outline: none;
    @include font-body;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3 {
    @include font-header;
}

.hiddenVisibility {
    visibility: hidden;
}

.noDisplay {
    display: none;
}

.hide {
    display: none;
    visibility: hidden;
    pointer-events: none;
}

.iconWrapper {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fadeOut {
    animation: fadeOut 0.3s ease forwards;
}

.blackOut {
    transition: 1s;
    filter: brightness(0);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0;
    }
}