@import "../../Global/Styles/mixin.scss";

.splash {
    background-image: linear-gradient(135deg, rgb(2, 7, 49), rgb(1, 0, 12));

    .title {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: showLogo 3s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;

        .inner {
            display: grid;
            grid-template-rows: 64px auto;
            grid-template-columns: repeat(2, auto);
            column-gap: 16px;
            row-gap: 8px;
            align-items: center;
            justify-items: end;

            .the {
                font-size: 32px;
                font-weight: 100;
            }

            .title {
                @include font-header;
                font-size: 64px;
            }

            .project {
                grid-column: 1/-1;
                font-size: 20px;
                color: $grayText;
            }
        }
    }

    .notice {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        grid-template-rows: min-content 1px min-content;

        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            z-index: 100;
            animation: $fadeIn 2s ease;
            //position: absolute;
            //opacity: 0;

            .rect {
                background-color: $textColor;
                height: 48px;
                width: 28px;
                clip-path: polygon(12px 0, 100% 0, calc(100% - 12px) 100%, 0 100%);
                opacity: 0;
            }

            h1 {
                opacity: 0;
                padding: 0 8px;
                background-image: linear-gradient(to right, transparent, black, transparent);
                animation: slideTile 0.2s cubic-bezier(0.33, 1, 0.68, 1) forwards;
                animation-delay: 450ms;
            }
        }

        .spacer {
            width: 100%;
        }

        p {
            overflow: hidden;
            max-width: calc(100% - 32px);
            width: 40em;
            font-size: calc(24px + 0.25vw);
            animation: showNoticeText 1s ease forwards;
            opacity: 0;
            animation-delay: 2s;
            text-align: center;
        }

    }
}


@keyframes showLogo {
    from {
        opacity: 0;
        transform: translate(-24px, 0);
    }

    50% {
        opacity: 1;
        transform: translate(0, 0);
    }

    to {
        opacity: 0;
        transform: translate(24px, 0);
    }
}

@keyframes showNoticeText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideTile {
    from {
        transform: translate(0, -16px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}