@mixin blur($amount) {
    backdrop-filter: blur($amount);
    -webkit-backdrop-filter: blur($amount);
}
@mixin font-header {
    font-family: "Julius Sans One","IBM Plex Sans","Noto Sans chinese",sans-serif;
    font-weight: bold;
}

@mixin font-body {
    font-family: "IBM Plex Sans JP","Noto Sans Chinese",sans-serif;
}